/* some style */
/* TODO Need to make this SASS */
:root {
  --border-color: #d2e7ff;
  --main-white: #f7fafb;
  --light-blue: #377df7;
  --light-green: #18e7e2;
  --black: #182825;
  --brownish: #d1b7ae;
  --highlight: #EB5160;
  --main-blue: #397ef7;
}

body, html {
  margin: 0;
  padding: 0;
  font-size: 16px;
  background: var(--main-white);
  width: 100%;
  height: 100%;
  font-family: 'Nunito', sans-serif;
}

body.hide-scroll {
  overflow: hidden;
  position: fixed;
}

body.hide-scroll .Main {
  /* opacity: 0; WE need to move this to the warpper on the home page content itself not hte overall wrap */
}

h1 {
  font-size: 1.75rem;
}

h2 {
  font-size: 1.5rem
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1.1rem;
}

button {
  box-shadow: 0 10px 10px -8px #666;
  background: var(--main-white);
  border: 1px solid var(--main-blue);
  padding: 10px 40px;
  display: block;
  border-radius: 20px;
  font-size: 18px;
  color: var(--main-blue);
  font-weight: 600;
}

#app, .Main {
  height: 100%;
}

.Page {
  position: fixed;
  top: 0;
  left: 150%;
  transition: all .25s;
  background: white; /* TODO Work this into a theme config option - would be fun */
  height: 100%;
  width: 100%;
  overflow: scroll;
  padding-bottom: 100px; /* needed for ads to not cover content TODO work this into a config option*/
  opacity: 0;
  background: var(--main-white);
}

.Page.active {
  left: 0;
  opacity: 1;
  z-index: 5
}

.Page-full {
  opacity: 0;
  left: 0;
  padding-bottom: 0;
  z-index: -50 !important;
  transition: none;
  animation-name: fadeOutOpacity;
	animation-timing-function: ease-in;
	animation-duration: 1s;
}

.Page-full.active {
	opacity: 1;
  z-index: 5 !important;
	animation-name: fadeInOpacity;
	animation-timing-function: ease-in;
	animation-duration: .5s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
  20%{
    opacity: 0;
  }
	100% {
		opacity: 1;
	}
}

@keyframes fadeOutOpacity {
	0% {
		opacity: 1;
    z-index: 5;
	}
  20%{
    opacity: 1;
    z-index: 5;
  }
  90% {
    opacity: 0;
    z-index: 5;
  }
	100% {
		opacity: 0;
    z-index: -20;
	}
}


.SubPage {
  position: absolute;
  top: 0;
  left: 150%;
  transition: all .25s;
  width: 100%;
  height: 100%;
  background: var(--main-white);
}

.SubPage.active {
  left: 0;
}

.SubPageFlow {
  width: 90%;
  /* border: 1px solid var(--border-color); */
  border-radius: 1rem;
  padding: 10px;
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* Not sure i want this yet */
  /* background: var(--brownish); */
  /* background: rgb(55,125,247);*/
  background: linear-gradient(90deg, rgba(55,125,247,1) 15%, rgba(71,136,250,1) 100%);
}

.SubPageFlow.active {
  left: 5%;
}

.Nav {
  height: 40px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  line-height: 40px;
  justify-content: space-between;
  background: #fffef9;
  padding: 5px;
  z-index: 10;
  /* border-top: 1px solid var(--light-blue); */
  box-shadow: 0 12px 12px 10px #666;
}

.Nav svg {
  width: 20px;
  height: 20px;
  padding-top: 5px;
}

.Period-wrapper {
  width: 100%;
  /* margin: 25px auto; */
  /* max-width: 200px; */
  /* border-radius: 1rem; */
  /* border: 3px solid #ffefd7; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 15%;
  box-sizing: border-box;
  text-align: center;
}


.Period-wrapper-inner {
  display: flex;
  justify-content: space-between;
  width: 60%;
  max-width: 200px;
  border: 2px solid var(--light-blue);
  border-radius: 1rem;
  overflow: hidden;
}

.Period-wrapper-inner h3{
  margin: 0;
}

.Period {
  transition: .25s;
  padding: 10px;
  width: 100%;
  /* border-radius: .8rem; */
}

.Period.active {
  color: white;
  background: var(--light-blue);
}




.Home-Wrapper {
  position: relative;
  overflow-x: hidden;
  height: 85%;
}

.Home-callout {
  background: rgb(55,125,247);
  background: linear-gradient(90deg, rgba(55,125,247,1) 15%, rgba(71,136,250,1) 100%);
  color: white;
  width: 80%;
  max-width: 250px;
  margin: 0 auto;
  /* border: 1px solid var(--border-color); */
  border-radius: 1rem;
  box-shadow: 0 12px 12px -8px #666;
  text-align: center;
  padding: 50px 15px;
}

.Home-callout svg {
  width: 50%;
}

.Home-streakText {
  width: 100%;
  text-align: center;
  margin-top: 45px;
}

/* ******FLOW STLYES****** */
.Flow {
  overflow-x: hidden;
}
.Flow h1 {
  color: var(--highlight);
}
.Flow-header {
  height: 20%;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.Flow-wrapper {
  position: relative;
  height: 80%;
}


/* COMPLETE PAGE */

.Complete-page {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  background: linear-gradient(90deg, rgba(55,125,247,1) 15%, rgba(71,136,250,1) 100%);
  color: white;
}




/* SUBPAGE STUFF */

.SubPageFlow.Overall {
  text-align: center;
}

.SubPageFlow.Overall input {
  margin-top: 35px;
  margin-bottom: 15px;
}

.SubPageFlow.Overall button {
  margin-top: 25px;
}


.SubPageFlow.Blurb {
  text-align: center;
}

.SubPageFlow.Blurb textarea {
  margin-top: 20px;
  margin-bottom: 10px;
}

.blurbTitle2 {
  margin-top: 30px;
}

.SubPageFlow.Reflect {
  text-align: center
}
.SubPageFlow.Reflect textarea {
  margin-top: 35px;
  margin-bottom: 15px;
}

/* INDIVUDAL PAGE */

.Page.Individual.active {
  left: 0;
}

.individualHeader {
  background: var(--light-blue);
  color: white;
  text-align: left;
}

.Page.Individual {
  text-align: center;
}

.individual.body {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.individual.body h4 {
  margin: 15px 0;
}